@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
body {
    background: url("../images/waveBottom.svg");
    background-color: rgb(238, 238, 238);
    background-repeat: no-repeat;
    background-position: bottom;
    font-family: 'Comfortaa', cursive;
}

.skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1b3b5a80;
    z-index: -1;
    transform: skewY(6deg);
    transform-origin: top right;
}

.curved {
    position: absolute;
    background: #3c99f57e;
    height: 50vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 50% 5%;
    border-bottom-right-radius: 50% 20%;
    z-index: -1;
  }

.caption-3 figcaption {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(-25%);
    background-color: rgba(255, 255, 255, 0.95);
}

.border-md {
    border-width: 2px !important;
}

.separator {
    border-bottom: 1px dashed #aaa;
}

.text-small {
    font-size: 0.85rem;
}

.aboutHead {
    height: 85vh;
}

#myHeader {
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8354692218684349) 20%, rgba(255, 255, 255, 0.4489146000196954) 100%), url('../images/home.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}
.bg-custom
{
    background-color: rgba(0,0,0,.5);
    color:white;
}

