body {
    background: url("../images/waveBottom.svg");
    background-color: rgb(238, 238, 238);
    background-repeat: no-repeat;
    background-position: bottom;
    font-family: 'Comfortaa', cursive;
}

.skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1b3b5a80;
    z-index: -1;
    transform: skewY(6deg);
    transform-origin: top right;
}


.caption-3 figcaption {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(-25%);
    background-color: rgba(255, 255, 255, 0.95);
}

.border-md {
    border-width: 2px !important;
}

.separator {
    border-bottom: 1px dashed #aaa;
}

.text-small {
    font-size: 0.85rem;
}

.aboutHead {
    height: 85vh;
}

#myHeader {
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8354692218684349) 20%, rgba(255, 255, 255, 0.4489146000196954) 100%), url('../images/home.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}
.bg-custom
{
    background-color: rgba(0,0,0,.5);
    color:white;
}

.slide-in-bck-left {
	-webkit-animation: slide-in-bck-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-bck-left {
    0% {
      -webkit-transform: translateZ(700px) translateX(-400px);
              transform: translateZ(700px) translateX(-400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateX(0);
              transform: translateZ(0) translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bck-left {
    0% {
      -webkit-transform: translateZ(700px) translateX(-400px);
              transform: translateZ(700px) translateX(-400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateX(0);
              transform: translateZ(0) translateX(0);
      opacity: 1;
    }
  }

  .slide-in-top {
    -webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

  .fade-in {
    -webkit-animation: fade-in 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.3s both;
            animation: fade-in 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.3s both;
  }

  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
